:host {
  display: grid;
  column-gap: 4px;
  width: 100%;
  grid-template-columns: repeat(31, min-content);
  .day {
    border: 1px solid lightgrey;
    border-radius: 2px;
    width: 22px;
    opacity: 0.8;
    text-align: center;
    color: grey;
    &:hover {
      background: lightgrey;
      color: black;
      cursor: pointer;
    }
  }
  .holyday {
    border-color: rgb(255, 151, 140);
    &:hover {
      background: rgb(250, 147, 135);
    }
  }
  .picked {
    background: rgba(255,0,0,0.7);
    border-color: rgba(255,0,0,0.7); 
    color: black;
    &:hover {
      background: rgba(255,0,0,0.9);
    }
  }
}

* {
  user-select: none;
}

