/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

body {
  background: rgb(230, 230, 230);
  width: 100%;
  margin: 0;
  padding: 5px;
}

.button {
  display: flex;
  justify-content: space-between;
}
.mat-form-field {
  width: 100%;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
